/* Color de fondo de toda la página*/
body {
    background-color: #d9d9d9;
}

.text-custom {
    color: #000;
}

/* Botones */
.btn-custom-blue {
    background-color: #9f2d2d; 
    color: #fff; 
}

/* Color de fondo de la barra de nav */
.bg-custom {
    background-color: #a34d41;
    margin-block: 5px;
}

/* Color de las opciones de la barra de nav */
.custom-text-color {
    color: #f08677; 
  }

  .custom-text-color:hover {
    color: #000000;
  }

/* Footer */
footer {
    background-color: #a34d41; 
    color: white; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }

  /* Imagen en el encabezado */
  .cuadro_texto {
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 10px; 
  }

  /* Fondo del form */
  .formulario {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px; 
    border-radius: 10px; 
    margin-block: 20px;
  }
